.container
  .row
    .col-md-9
      - @articles.each do |article|
        .media
          .media-left
            %a(href="/articles/#{article.id}")
              %img(src="#{article.thumbnail}")
          .media-body
            %h4.media-heading
              %a(href="/articles/#{article.id}") #{article.title}
            #{article.summary}
        %hr
      .text-center
        = paginate @articles, theme: 'twitter-bootstrap-3', pagination_class: 'pagination-sm'
    .col-md-3
