.container
  .row
    .col-md-9
      .page-header
        %h3 #{@article.title}
      #{@article.content}
      %hr
      .fb-comments(data-href="#{request.original_url}" data-numposts="5" data-width="100%")
      #fb-root
        :javascript
          (function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(d.getElementById(id))return;js=d.createElement(s);js.id=id;js.src="//connect.facebook.net/th_TH/sdk.js#xfbml=1&version=v2.4&appId=1449973598661020";fjs.parentNode.insertBefore(js,fjs);}(document,'script','facebook-jssdk'))
    .col-md-3
