.container
  .page-header
    %h3
      %a(name="about") About
  %p Lotto987.com is a lottery website showing the results, prediction and all the funny things about the lottery. The accuracy and legitimacy of the content could be guaranteed. The website is aiming to offer a place to get to know the Thailand lottery and enjoy even profit from it.
  .page-header
    %h3
      %a(name="contact") Contact with us
  %p Lotto987.com has been designed to contain comprehensive content about all the major lotteries played in the Thailand. However, if you have a query you cannot find the answer to the quickest and easiest way to get in touch with us is to send email to the following address.
  %p
    %i.fa.fa-envelope-o
    %a(href="mailto:webmaster@lotto987.com") webmaster@lotto987.com
  .page-header
    %h3
      %a(name="term") Terms & Privacy
  %p
    %h5 TYPES OF INFORMATION THAT MAY BE COLLECTED
    We collect aggregate information site-wide, including anonymous site statistics (e.g.: The number of page views or visits a certain section of our web site will receive). This information is used to improve the user experience and analyze the effectiveness of our advertising. This information is not stored in any way that would identify the actions or personal information of a specific user.
    %h5 LINKS TO OTHER WEB SITES
    This site contains links to other sites. Lotto987.com is not responsible for the privacy practices or the content of such Web sites.
    By using the Web Sites, you acknowledge your agreement to the terms of this Privacy Policy. From time to time, Company may update this Privacy Policy.
  .page-header
    %h3
      %a(name="ad") Advertisement
  - if @accept
    .alert.alert-success.alert-dismissible
      %button.close(type="button" data-dismiss="alert" aria-label="Close")
        %span(aria-hidden="true") &times;
      OK : ) We will contact with you soon.
  %form.form-horizontal(method="post")
    .form-group
      %label.col-sm-2.control-label(for="url") Website URL
      .col-sm-10
        %input.form-control(type="url" name="url" required placeholder="Your website url")
    .form-group
      %label.col-sm-2.control-label(for="email") Email
      .col-sm-10
        %input.form-control(type="email" name="email" required placeholder="Your email for contact")
    .form-group
      %label.col-sm-2.control-label(for="position") Position
      .col-sm-10
        %select.form-control(name="position")
          %option(value="top") top
          %option(value="bottom") bottom
          %option(value="left") left
          %option(value="right") right
    .form-group
      %label.col-sm-2.control-label(for="content") Content
      .col-sm-10
        %textarea.form-control(name="content" placeholder="Say something to us...")
    .form-group
      .col-sm-10.col-sm-offset-2
        %button.btn.btn-primary(type="submit") Submit
