= content_for(:title, "ตรวจสลากกินแบ่งรัฐบาล ตรวจหวย #{@ticket.try(:label)} - Lotto987 thai lotto")
.container
  .row
    .col-md-9.ticket
      .page-header
        %h2.text-center
          ตรวจสลากกินแบ่งรัฐบาล ตรวจหวย
          %span.date #{@ticket.label}
      - if params[:number].present?
        - if @results.empty?
          .alert.alert-danger
            %p
              %span.text-muted หมายเลขสลากของคุณ :
              %strong #{params[:number]}
              ไม่ถูกรางวัลสลากกินแบ่งรัฐบาล
        - else
          .alert.alert-success
            %p
              %span.text-muted หมายเลขสลากของคุณ :
              %strong #{params[:number]}
            %ul.list-inline
              - @results.each do |result|
                %li ถูก #{I18n.t result}
      %table.table.table-bordered.text-center.one-dot
        %tbody
          %tr
            %th
              ตรวจสลากกินแบ่งรัฐบาล
              %br
              รางวัลที่ 1
            %th
              ตรวจสลากกินแบ่งรัฐบาล
              %br
              เลขท้าย 3 ตัว
            %th
              ตรวจสลากกินแบ่งรัฐบาล
              %br
              เลขท้าย 2 ตัว
          %tr
            %td
              #{@ticket.details['lot-one']}
              %small.text-muted รางวัลละ 2,000,000 บาท
            %td
              #{@ticket.details['lot-three']}
              %small.text-muted 4 รางวัล รางวัลละ 2,000 บาท
            %td
              #{@ticket.details['lot-two']}
              %small.text-muted รางวัลละ 1,000 บาท
      %table.table.table-bordered.text-center
        %tbody
          %tr
            %th รางวัลที่ 1 พิเศษ
            %th(colspan="4")
              ผลสลากกินแบ่งรัฐบาล #{@ticket.details['special'][0]}
              %br
              ผลสลากกินแบ่งรัฐบาล #{@ticket.details['special'][1]}
          %tr
            %td(colspan="5")
              .col-md-4
                รางวัลข้างเคียงรางวัลที่ 1
                %br
                2 รางวัลๆละ 50,000 บาท
              - @ticket.details['near-one'].each do |num|
                .col-md-4.near-one
                  %span #{num}
          - ticket_rews(@ticket).each do |k, v|
            %tr
              %th(colspan="5")
                ตรวจหวย ตรวจสลากกินแบ่งรัฐบาล
                %strong รางวัลที่ #{v[:label]}
                มี #{v[:amount]} รางวัลๆละ #{v[:bonus]} บาท
              - v[:number].each do |list|
                %tr
                  - list.each do |num|
                    %td #{num}
    .col-md-3.sidebar
      %section.share
        .fb-share-button(data-href="http://lotto987.com" data-layout="box_count" style="top:-5px")
        %a.twitter-share-button(href="https://twitter.com/share" data-related="lotto987" data-hashtags="lotto987" data-count="vertical" data-url="http://lotto987.com")
        .g-plus(data-action="share" data-annotation="vertical-bubble" data-href="http://lotto987.com")
        #fb-root
        :javascript
          (function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(d.getElementById(id))return;js=d.createElement(s);js.id=id;js.src="//connect.facebook.net/th_TH/sdk.js#xfbml=1&version=v2.4&appId=1449973598661020";fjs.parentNode.insertBefore(js,fjs);}(document,'script','facebook-jssdk'))
          !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs')
          window.___gcfg={lang:'th-TH',parsetags:'onload'}
        = javascript_include_tag 'https://apis.google.com/js/platform.js', async: true, defer: true
      %form(action="/")
        %fieldset
          %legend กรอกเลขสลากกินแบ่งรัฐบาล
          .groups
            .form-group
              %input.form-control(type="number" placeholder="กรอกเลขสลาก" min="100000" max="999999" name="number" required value="#{params[:number]}")
            .form-group
              %select.form-control(name="won_at")
                - ticket_list(15).each do |t|
                  - if params[:id] == t.won_at.to_s
                    %option(value="#{t.won_at}" selected) #{t.label}
                  - else
                    %option(value="#{t.won_at}") #{t.label}
            %button.btn(type="submit") ตรวจหวย
      %section.recent
        %h4 ตรวจสลากกินแบ่งรัฐบาล ตรวจหวย ย้อนหลัง
        %ul.list-unstyled
          - ticket_list.each do |t|
            %li
              %a(href="/tickets/#{t.won_at}" title="#{t.label}")
                %i.fa.fa-ticket
                ตรวจสลากกินแบ่งรัฐบาล วันที่ #{I18n.l t.won_at, format: :short}
      %section.recent-detail
        %h4 ตรวจหวย ตรวจสลากกินแบ่งรัฐบาล ย้อนหลัง
        - ticket_list.offset(1).each do |t|
          %table.table.table-bordered
            %caption ตรวจสลากกินแบ่งรัฐบาล วันที่ #{I18n.l t.won_at, format: :short}
            %tbody
              %tr
                %th รางวัลที่ 1
                %td #{t.details['lot-one']}
              %tr
                %th เลขท้าย 3 ตัว
                %td #{t.details['lot-three']}
              %tr
                %th เลขท้าย 2 ตัว
                %td #{t.details['lot-two']}
