// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

$site-color: #FF4200;
$table-color: #F7F7F7;
$footer-color: #3F3F3F;

body {
  color: #3C3C3C;
}

a,
a:hover {
  color: $site-color;
}

.navbar {
  box-shadow: 0 1px 2px rgba(0,0,0,0.04);
  border-bottom: 1px solid $site-color;
  .navbar-brand {
    img {
      height: 25px;
    }
  }
  .navbar-toggle {
    span {
      background: $site-color;
    }
  }
  .nav {
    li {
      a {
        color: #3C3C3C;
      }
      a:hover {
        color: #fff;
        background-color: $site-color;
      }
    }
    li.active {
      a {
        color: #FFFFFF;
        background-color: $site-color;
        transition: color 0.1s ease;
      }
    }
  }
}

.ticket {
  .page-header {
    border-bottom: 2px solid $site-color;
    .date {
      color: $site-color;
    }
  }

  .table {
    th {
      background: $table-color;
      text-align: center;
      font-weight: normal;
    }
    td,
    th {
      vertical-align: middle;
    }
  }

  .one-dot {
    td {
      font-size: 30px;
      color: $site-color;
      small {
        display: block;
        font-size: 14px;
      }
    }
  }

  .near-one {
    border-left: 1px solid #DDDDDD;
    line-height: 40px;
  }
}

.sidebar {
  .share {
    margin-top: 10px;
    height: 66px;
    display: block;
    .twitter-share-button {
      margin: 0 10px;
    }
  }

  form {
    border: 1px solid $site-color;
    box-shadow: 2px 2px 0 #EEEEF0;
    margin-top: 15px;
    legend {
      font-size: 16px;
      padding: 8px 0;
      background: $site-color;
      color: #FFFFFF;
      text-align: center;
      margin-bottom: 0;
      border-bottom: none;
    }
    .groups {
      padding: 10px;
    }
    .btn {
      background: $site-color;
      color: #FFFFFF;
    }
    .btn:hover {
      background: #F52B00;
    }
  }
}

.recent {
  margin-top: 25px;
  text-align: center;
  h4 {
    font-size: 14px;
    font-weight: normal;
  }
  ul {
    border-top: 1px solid $site-color;
    margin-top: 10px;
  }
  li {
    margin-top: 5px;
    a,
    a:hover {
      color: #FF4400;
    }
  }
}

.recent-detail {
  margin-top: 25px;
  h4 {
    font-size: 14px;
    font-weight: normal;
    text-align: center;
  }
  caption {
    text-align: center;
    background: $table-color;
    border: 1px solid #DDDDDD;
    border-bottom: 0;
  }
  table {
    th {
      background: $table-color;
      text-align: right;
      font-weight: normal;
    }
  }
}

.pagination {
  li {
    a,
    a:hover {
      color: $site-color;
    }
  }
  .active {
    a,
    a:hover {
      background-color: $site-color;
      border-color: $site-color;
    }
  }
}

footer {
  background: $footer-color;
  margin-top: 30px;
  padding-bottom: 30px;
  .fa {
    font-size: 35px;
    color: #DEDEDE;
  }
  ul {
    margin: 20px 0;
  }
  a,
  a:hover {
    color: #F52B00;
  }
  .copyright {
    color: #DEDEDE;
  }
}
