!!! 5
%html(lang="th")
  %head
    %meta(charset="utf-8")
    %meta(name="Description" content="ตรวจสลากกินแบ่งรัฐบาล ตรวจหวย #{@ticket.try(:label)} ตรวจหวย ผลสลากกินแบ่งรัฐบาล สลากกินแบ่งรัฐบาล ตรวจสลาก อัพเดทรวดเร็วที่ lotto987.com")
    %meta(name="Keywords" content="ตรวจหวย, ผลสลากกินแบ่งรัฐบาล, ตรวจสลากกินแบ่งรัฐบาล, ผลสลากกินแบ่ง, สลากกินแบ่งรัฐบาล, หวย, ใบตรวจสลากกินแบ่งรัฐบาล, ตรวจผลสลากกินแบ่งรัฐบาล, ตรวจสลาก, สลากกินแบ่งรัฐบาล #{@ticket.try(:label)}, หวยรัฐบาล, ผลลอตเตอรี่, ตรวจลอตเตอรี่, ตรวจล็อตเตอรี่, ลอตเตอรี่, ล็อตเตอรี่, ซองหวย, ฟังหวย, หวยวันนี้, หวยดัง, หวย หวย หวย, หวยเด็ด, หวยรัฐบาล, เลขเด็ด, หวยเด็ด, ผลหวย, หวยเลขเด็ด, สูตรหวย, หวยรัฐบาล, thai lotto, thailand lotto, thai lottery, thailand lottery")
    %meta(http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1")
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    %title= content_for?(:title) ? yield(:title) : "Lotto987 thai lotto"
    = csrf_meta_tags
    / Le HTML5 shim, for IE6-8 support of HTML elements
    /[if lt IE 9]
      = javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.1/html5shiv.js"
      = javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
%body
  %header.navbar.navbar-static-top
    .container
      .navbar-header
        %button.navbar-toggle.collapsed(type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-expanded="false")
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
        %a.navbar-brand(href="/")
          = image_tag "logo.png"
      .collapse.navbar-collapse
        %ul.nav.navbar-nav
          %li(class="#{active_class('tickets')}")
            %a(href="/" title="สลากกินแบ่ง") ตรวจหวย
          %li(class="#{active_class('articles')}")
            %a(href="/articles" title="เลขเด็ด") เลขเด็ด
          / %li
          /   %a(href="/funs" title="น่าสนใจ") น่าสนใจ
  = yield
  %footer
    .container.text-center
      %ul.list-inline
        %li
          %a(href="https://www.facebook.com/lotto987" target="_blank")
            %i.fa.fa-facebook-square
        %li
          %a(href="https://www.twitter.com/lotto987" target="_blank")
            %i.fa.fa-twitter-square
        %li
          %a(href="https://plus.google.com/b/116481454614354849799/116481454614354849799/posts" target="_blank")
            %i.fa.fa-google-plus-square
        %li
          %a(href="https://www.youtube.com/channel/UC_SU8RmzPnK28VgunxP0vkw" target="_blank")
            %i.fa.fa-youtube-square
      %ul.list-inline
        %li
          %a(href="/about") About
        %li
          %a(href="/about#contact") Contact
        %li
          %a(href="/about#term") Terms & Privacy
        %li
          %a(href="/about#ad") Advertisement
      .copyright สงวนลิขสิทธิ์ © 2558 Lotto987.com
  = javascript_include_tag 'application', 'data-turbolinks-track' => true
  :javascript
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-65254195-1', 'auto');
    ga('send', 'pageview');


